.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Rozłożenie elementów na końcach kontenera */
    height: 15vh;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  

  
  .menu li a {
    color: #333;
    text-decoration: none;
  }
  
  .menu li a:hover {
    text-decoration: underline;
  }
  

  .logo {
    margin-left: 20px; /* Dodajemy margines po lewej stronie dla loga */
  }
  
  .menu {
    margin-right: 20px; /* Dodajemy margines po prawej stronie dla menu */
  }
  